.buyTickets-imgs {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgb(122, 110, 170);
  background-image: url("../../images/bg-star.svg");
}

@media only screen and (min-width: 600px) {
  .buyTickets-imgs img {
    position: absolute;
    width: 124px;
    height: 113px;
  }

  .buyTickets-imgs :nth-child(3) {
    height: 150px;
  }

  .buyTickets-imgs :nth-child(1) {
    left: 300px;
    top: 20px;
  }

  .buyTickets-imgs :nth-child(2) {
    left: 260px;
    top: 150px;
  }

  .buyTickets-imgs :nth-child(3) {
    right: 300px;
    top: 20px;
  }

  .buyTickets-imgs :nth-child(4) {
    right: 300px;
    top: 300px;
  }

  .buyTickets-imgs :nth-child(5) {
    left: 300px;
    top: 300px;
  }

  .small-star-img {
    animation: small-star 4s 1s infinite linear alternate;
  }

  .big-star-img {
    animation: small-star 4s 1s infinite linear alternate;
  }

  @keyframes small-star {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  .three-star-img {
    animation: three-star 4s 1s infinite linear alternate;
  }

  @keyframes three-star {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-10px, 10px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  .ticket-left-img {
    animation: ticket-left 4s 1s infinite linear alternate;
  }

  @keyframes ticket-left {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-10px, 15px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  .ticket-right-img {
    animation: ticket-right 4s 1s infinite linear alternate;
  }

  @keyframes ticket-right {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(10px, 15px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
}

/* 手机端不显示图片 */
@media only screen and (max-width: 600px) {
  .buyTickets-imgs img {
    display: none;
  }
}

.buyTickets-title {
  width: 250px;
  color: white;
  font-size: 20px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.buyTickets-money {
  width: 250px;
  font-size: 20px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.buyTickets-prizes {
  width: 250px;
  color: white;
  font-size: 20px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

@keyframes buyTickets-btn {
  0% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

.buyTickets-button {
  width: 296px;
  height: 121px;
  margin: auto;
  margin-top: 30px;
  padding: 24px;
  text-align: center;
  background-image: url("../../images/buyTickets.svg");
  animation: buyTickets-btn 4s 1s infinite linear alternate;
}

.buyTickets-btn {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
  color: white;
  font-size: 18px;
}

.howToPlay-title {
  text-align: center;
  color: blueviolet;
  font-size: 40px;
}

.howToPlay-subTitle {
  text-align: center;
}

.specialColor {
  color: blueviolet;
}

.howToPlay-card {
  margin-top: 10px;
}

.howToPlay-winning-img img {
  width: 100%;
  height: 100%;
}

.howToPlay-prize-img img {
  width: 100%;
  height: 100%;
}

.buyTickets-prize {
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
}

.buyTickets-prize h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

@media only screen and (min-width: 600px) {
  .buyTickets-prize h2 {
    font-size: 40px;
    color: rgb(253, 171, 50);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    margin: auto;
  }

  .buyTickets-card {
    width: 700px;
    margin: auto;
  }
}

.buyTickets-submit {
  width: 100px;
  color: rgb(31, 199, 212);
  margin: auto;
  cursor: pointer;
}

.buyTickets-prize-content {
  background: rgb(250, 249, 250);
}

.buyTickets-prize-tips {
  margin: 20px 0;
}

.buyTickets-prize-title {
  color: blueviolet;
  font-weight: bold;
}

.buyTickets-winner {
  background: rgb(54, 55, 87);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 200px;
}

.buyTickets-winner-ask {
  color: white;
  font-size: 15px;
}

.buyTickets-winner img {
  width: 100px;
}

.buyTickets-finishRounds {
  background: linear-gradient(rgb(203, 215, 239) 0%, rgb(154, 159, 208) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buyTickets-finish {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .buyTickets-winnning-number {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .buyTickets-finish-number {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .buyTickets-finish-number :nth-child(1) {
    background-image: url("../../images/number1.svg");
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
  }

  .buyTickets-finish-number :nth-child(2) {
    background-image: url("../../images/number2.svg");
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
  }

  .buyTickets-finish-number :nth-child(3) {
    background-image: url("../../images/number3.svg");
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
  }

  .buyTickets-finish-number :nth-child(4) {
    background-image: url("../../images/number4.svg");
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
  }

  .buyTickets-finish-number :nth-child(5) {
    background-image: url("../../images/number5.svg");
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
  }

  .buyTickets-finish-number :nth-child(6) {
    background-image: url("../../images/number6.svg");
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .buyTickets-prize h2 {
    font-size: 40px;
    color: rgb(253, 171, 50);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    margin: auto;
  }

  .buyTickets-card {
    width: 700px;
    margin: auto;
  }
}

.buyTickets-submit {
  width: 100px;
  color: rgb(31, 199, 212);
  margin: auto;
  cursor: pointer;
}

.buyTickets-prize-content {
  background: rgb(250, 249, 250);
}

.buyTickets-prize-tips {
  margin: 20px 0;
}

.buyTickets-prize-title {
  color: blueviolet;
  font-weight: bold;
}

.buyTickets-winner {
  background: rgb(54, 55, 87);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 200px;
}

.buyTickets-winner-ask {
  color: white;
  font-size: 15px;
}

.buyTickets-winner img {
  width: 100px;
}

.buyTickets-finishRounds {
  background: linear-gradient(rgb(203, 215, 239) 0%, rgb(154, 159, 208) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buyTickets-finish {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* 手机端设置 */
@media only screen and (max-width: 600px) {
  .buyTickets-allhistory {
    width: 300px;
  }
  .buyTickets-winnning-number {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .buyTickets-finish-number {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .buyTickets-finish-number :nth-child(1) {
    background-image: url("../../images/number1.svg");
    text-align: center;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .buyTickets-finish-number :nth-child(2) {
    background-image: url("../../images/number2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
  }

  .buyTickets-finish-number :nth-child(3) {
    background-image: url("../../images/number3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
  }

  .buyTickets-finish-number :nth-child(4) {
    background-image: url("../../images/number4.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
  }

  .buyTickets-finish-number :nth-child(5) {
    background-image: url("../../images/number5.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
  }

  .buyTickets-finish-number :nth-child(6) {
    background-image: url("../../images/number6.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
  }
}
